
/* Site Main CSS */

@charset "UTF-8";

/* Main menu */

.main.menu { min-width:320px; }

.main.menu .launcher.item { display:none; }

.main.menu .right.menu .collapsed.item { display:none; }

@media only screen and (max-width:767px) {

	.main.menu .launcher.item { display:flex; }

	.main.menu > .item:not(.brand):not(.launcher) { display:none; }

    .main.menu .right.menu .user.item .name { display:none; }

	.main.menu .right.menu .expanded.item { display:none; }

	.main.menu .right.menu .collapsed.item { display:flex; }
}

/* Masthead */

.masthead { padding:106px 1rem 50px 1rem; margin-bottom:1rem;
	background:#1B1C1D url('../images/header.png') fixed repeat top center; text-align:center; }

.masthead h1 { font-size:3rem; color:#FFF; }

.masthead .slogan { font-size:1.5rem; color:#FFF; }

.masthead .button { margin:0; }

/* Heading */

.heading { padding:86px 1rem 30px 1rem; margin-bottom:1rem;
	background:#1B1C1D url('../images/header.png') fixed repeat top center; text-align:center; }

.heading h1 { font-size:2.5rem; color:#FFF; }

/* Breadcrumbs */

.breadcrumb .section:last-of-type { font-weight:bold; }

.breadcrumb .divider:last-child { display:none; }

/* Forms */

.form select { height:38px !important; color:#FFF !important; }

.form textarea { height:6em !important; min-height:6em !important; }

@media only screen and (min-width:768px) {

	.sided.form { max-width:460px !important; }
}

/* Captcha */

#captcha { background-color:#FFF !important; }

/* Footer */

.footer { margin-bottom:1rem !important; }

.footer .column { padding-left:2rem !important; padding-right:2rem !important; }

@media only screen and (max-width:767px) {

	.footer .column { text-align:center !important; }
}

/* Chrome background fix */

@media screen and (-webkit-min-device-pixel-ratio:0) {

	.masthead, .heading, .demo { background-attachment:scroll !important; }
}
