
/* Site Main CSS */

@charset "UTF-8";

.masthead { margin:0 !important; padding-top:55px !important; color:#FFF; text-shadow:0px 1px 1px #006363;
	background:-moz-linear-gradient(left, #006363 0%, #009999 50%, #006363 100%);
	background:-webkit-gradient(linear, left top, right top, color-stop(0%, #006363), color-stop(50%, #009999), color-stop(100%, #006363));
	background:-webkit-linear-gradient(left, #006363 0%, #009999 50%, #006363 100%);
	background:-o-linear-gradient(left, #006363 0%, #009999 50%, #006363 100%);
	background:-ms-linear-gradient(left, #006363 0%, #009999 50%, #006363 100%);
	background:linear-gradient(to right, #006363 0%, #009999 50%, #006363 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006363', endColorstr='#006363', GradientType=1);
}

.auth { max-width:400px !important; }

.breadcrumb .divider:last-child { display:none; }

#captcha { background-color:#FFF !important; }
