
/* Admin Main CSS */

@charset "UTF-8";

.wrapper { margin:0 !important; padding-top:55px !important; }

.breadcrumb .section:last-of-type { font-weight:bold; }

.breadcrumb .divider:last-child { display:none; }

#captcha { background-color:#FFF !important; }

#modal-lister { top:0px; margin-top:3.5rem !important; }

@media only screen and (max-width:767px) {

    .table:not(.unstackable) td.right.aligned, .right.aligned.column { text-align:left !important; }
}
