
/* Admin Main CSS */

@charset "UTF-8";

body { position:absolute !important; width:100%; height:100%; top:0; left:0; }

body.form { background:url('../images/form.jpg') top center fixed; background-size:cover; }

/* Condensed grid */

.condensed.grid { padding:3rem 0 !important; }

.condensed.grid .column { max-width:458px; }

/* Progress */

.progress { position:fixed !important; top:0; width:100%; z-index:201; margin:0 !important; border-radius:0 !important; }

.progress .bar { height:0.15em !important; }

/* Main menu */

.main.menu { min-width:320px; }

.main.menu .brand.item img { width:25px; }

.main.menu .launcher.item { display:none; }

@media only screen and (max-width:767px) {

	.main.menu .launcher.item { display:flex; }

	.main.menu > .item:not(.brand):not(.launcher) { display:none; }

    .main.menu .right.menu .user.item .name { display:none; }
}

/* Wrapper */

.wrapper { margin-bottom:0 !important; }

/* Segments */

.segment:not(.basic) { box-shadow:0 1px 2px 0 rgba(34, 36, 38, 0.08) !important; }

body.form .segment { box-shadow:0 6px 0 0 rgba(34, 36, 38, 0.12) !important; }

/* Menus */

.menu:not(.main) { box-shadow:0 1px 2px 0 rgba(34, 36, 38, 0.08) !important; }

/* Messages */

.info.message.segment { border:1px solid #A9D5DE !important; box-shadow:0 1px 2px 0 rgba(169, 213, 222, 0.26) !important; }

.warning.message.segment { border:1px solid #C9BA9B !important; box-shadow:0 1px 2px 0 rgba(201, 186, 155, 0.26) !important; }

.error.message.segment { border:1px solid #E0B4B4 !important; box-shadow:0 1px 2px 0 rgba(224, 180, 180, 0.26) !important; }

.success.message.segment { border:1px solid #A3C293 !important; box-shadow:0 1px 2px 0 rgba(163, 194, 147, 0.26) !important; }

/* Breadcrumbs */

.breadcrumb .section:last-of-type { font-weight:bold; }

.breadcrumb .divider:last-child { display:none; }

/* Uploader */

.uploader > form input { position:absolute; width:0; height:0; opacity:0; overflow:hidden; z-index:-1; }

@media only screen and (max-width:767px) {

	.uploader .column > * { width:100%; }
}

/* Tables */

.table tr.inactive td { color:rgba(40, 40, 40, 0.3); }

.table td { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.table a:hover { cursor:pointer; }

@media only screen and (max-width:767px) {

    .table:not(.unstackable) td.right.aligned { text-align:left !important; }
}

/* Pagination */

@media only screen and (max-width:767px) {

	.pagination .item:not(.active):not(.step) { display:none !important; }
}

/* Forms */

.form select { height:38px !important; color:#FFF !important; }

.form textarea { height:6em !important; min-height:6em !important; }

/* Fixed button */

.fixed.button { position:fixed !important; top:5.5rem; right:-0.5rem; padding-right:1.25em !important; z-index:1; }

/* Captcha */

#captcha { background-color:#FFF !important; }

/* Ace Editor */

.ace_editor { border:1px solid rgba(34, 36, 38, 0.15); border-radius:4px; }

/* CKEditor */

.cke_button__addpage_label { display:inline !important; }

.cke_button__addvariable_label { display:inline !important; }

.cke_button__addwidget_label { display:inline !important; }

/* Footer */

@media only screen and (max-width:767px) {

	.version.button { display:none; }
}

@media only screen and (max-width:479px) {

	.copyright.button span { display:none; }
}

/* Modals */

.ui.modal { min-width:304px; }

.ui.modal .actions > .button { margin-left:0; }

#modal-lister { top:0; margin-top:3.5rem !important; }
